sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '6'
before_script: curl -Lo travis_after_all.py https://git.io/vLSON
script:
  - npm run validate
after_success:
  - npm run report-coverage
  - npm run semantic-release
branches:
  only:
    - master